body {
    margin: 60px auto;
    width: 70%;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
    color: #000;
}

a.title {
    text-decoration: none;
    color: #000;
}
a.title:hover {
    color: #999;
}

a.meta {
    text-decoration: none;
    color: #999;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 0.9em;

}
a.meta:hover {
    color: #000;
}
p.small {
    line-height: 0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color: #5b5b5b;
	font-weight: bold;
}
p.small2 {
    line-height: 0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color: #5b5b5b;
    font-size: 0.9em;
    font-weight:bold;
}
p.blogtitle {
    line-height: 0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 2.2em;
    font-weight:bold;
    color: #000;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
   line-height: 0;
}
h2 {
	font-size: 2em;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
	font-size: 1.2em;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color: #999;
}
p {
    font-size: 1.3em;
    line-height: 1.1em;
    color: #333;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

table.linkbar {
    width: 100%
}

tr.top {
   border-bottom: 1px solid #d5d5d5;
   }
   
tr.bottom {
   border-top: 1px solid #d5d5d5;
   }

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}


name {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: bold;
}

portfolio table {
	width: 100%;
}

portfolio td {
	width: 50%;
	text-align: top;
	padding: 20;
	
}

td.blogfoot{ 
    height: 100%;
    vertical-align: top;
}