<!DOCTYPE html>
	<html>
		<head>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
			<title>{{ site.name }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			{% include nav.html %}
			
			{% include header_img.html %}

			<div class="container">
			
			{{ content }}

			</div><!-- /.container -->
		
		<footer>
	    	{% include contact.html %}
		</footer>
		</body>
	</html>
