---
layout: main
---
<p class="blogtitle">{{ page.title }}</p>
<p class="small2">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>

<p>
  {% for category in page.categories %}
	<span><a class="meta" href="{{site.root}}/categories#{{ category | first }}">
	{{ category | first}}</a></span> » 
  {% endfor %}

{% for tag in page.tags %}
	<span><a class="meta" href="{{site.root}/tags#{{ tag | first }}">
	{{ tag | first }}</a>,</span>  
  {% endfor %}
  </p>
  
<hr>

{% include blog_footer.html %}
